test.cs
.vscode

Assets/**
Library/**
Logs/**
Packages/**
ProjectSettings/**
Temp/**
UserSettings/**

!Assets/Scripts

# *.meta
# *.json
# *.txt
# *.asset
# *.prefab
# *.png
# *.unity
# *.mat