test.cs
.vscode
*.csproj

Library/**
Logs/**
Packages/**
ProjectSettings/**
Temp/**
UserSettings/**

Assets/Images/
Assets/Material/
Assets/Pallete/
Assets/Prefabs/
Assets/Rule Tile/
Assets/Scenes
# Assets/Scripts
Assets/TextMesh Pro

*.meta
# *.json
# *.txt
# *.asset
# *.prefab
# *.png
# *.unity
# *.mat